@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.nuewinbannerstyle1 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;

  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.nuewinbannerstyle1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.nuewinbannerstyle1 img {
  max-width: 100%;
  position: relative;
  opacity: 0.7;
}

figure.nuewinbannerstyle1 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.nuewinbannerstyle1 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #fff;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
	color:#0175ad;
	font-size:1.4em;
}

figure.nuewinbannerstyle1 h2 span {
  font-weight: 800;
}

figure.nuewinbannerstyle1:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.nuewinbannerstyle1 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}


figure.nuewinbannerstyle1.color4 {
  background: #1892ed;
}
figure.nuewinbannerstyle1.color4 h2 {
  background: #fff;
}



figure.nuewinbannerstyle1:hover img,
figure.nuewinbannerstyle1.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.nuewinbannerstyle1:hover h2,
figure.nuewinbannerstyle1.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.nuewinbannerstyle1:hover:before,
figure.nuewinbannerstyle1.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}
