
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { /* -webkit-border-fit:lines; */ } /* <- Safari & Google Chrome Fix */

button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer;}

.products-grid.last { border-bottom:0; }
.products-grid .product-image { display:block; width:135px; height:135px; margin:0 0 10px; }
.products-grid .product-name { margin:0 0 5px; font-weight:bold; font-size:13px; }
.products-grid .price-box { margin:5px 0; }
.products-grid .availability { line-height:21px; }
.products-grid .actions { position:absolute; bottom:12px; }


.sorter .view-mode {
    float: left;
}
.page {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: left;
}